
<div>

  <h4>Vista de Productos:</h4>

  {{!-- Renderizado condicional (solo muestra la tabla si hay algo en 'productos'): --}}

  {{#if productos}}

  <table>

    <thead>
      <tr>
        <th>Nombre:</th>
        <th>Precio:</th>
        <th>Foto:</th>
      </tr>
    </thead>

    {{!-- El "productos as |producto|" en el "#each" es como un "for producto in productos" --}}
    {{!-- No puede haber espacio entre los corchetes y el #each --}}

    <tbody>

      {{#each productos as |producto| }}
      <tr>
          <td> {{ producto.title }} </td>
          <td> $ {{ producto.price }} </td>
          <td> <img style="width:75px;height:75px"src="{{ producto.url }}">  </td>
      </tr>
      {{/each}}

    </tbody>

  </table>

  {{!-- Si no encuentra nada en 'productos' muestra este mensaje: --}}

  {{else}}

  <h5>No se encontraron productos.</h5>

  {{/if}}

</div>